@{
    ViewData["Title"] = "Home Page";
}

    <div class="col">
        <p><span>nbrFamilles : </span>@ViewData["nbrFamilles"]</p>
        <p><span>nbrConstituants: </span>@ViewData["nbrConstituants"]</p>
        <p><span>nbrAliments: </span>@ViewData["nbrAliments"]</p>
        
    </div>
